@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Poppins_Bold;
    src: url(font/Poppins-Bold.ttf);
}
body {
    margin: 0%;
    background-color: #f1f9fc;
    box-shadow: 20px;
    font-family: Poppins;
	font-weight: 700;
	font-style: bold;
}
.content{
    /* background-color: aqua; */
    margin: auto;
    margin-top: 100px;
    width: 80%;
    height: fit-content;
}

.content .welcome{
    font-size: 25px;
    font-family: Poppins;
    font-weight:700;
    color: #505050;

}


/* STAT CARD */
.content .stat_card{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
}

.content .stat_card .container{
    width: 90%;
    height: auto;
    margin: 20px auto;
    gap: 10px;
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    text-align: center;
    color: #505050;
    justify-content: space-around; /* Distribute space around items */
    flex-wrap: wrap; 
}

.content .stat_card .container .stat_container{
    line-height: 5px;
}

.content .stat_card .container .stat_container .desc{
    font-family: Poppins;
    font-weight: 400;
}
.content .stat_card .container .stat_container .figure{
    font-family: Poppins;
    font-weight: 400;
    font-size: 60px;
}
.content .stat_card img{
    width: auto;
    height: 250px;
    object-fit: contain;
}

/* Media Query for Larger Screens */
@media (min-width: 768px) { 
    .content .stat_card .container {
        flex-direction: row;  /* Arrange items horizontally on larger screens */
        gap: 40px; /* Increase gap for larger screens */
    }

    .content .stat_card img {
        width: 40%; /* Adjust as needed */
        margin: 0;
    }
}



/* FEATURE CARDS */
.content .feature{
    margin-top: 70px;
    font-size: 20px;
    font-family: Poppins;
    color: #505050;
}

.content .feature_card{
    width: 100%;
    height: fit-content;
    
}
.content .feature_card .feat_container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.content .feature_card .feat_container .feat_btn{
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: space-evenly;
    border: 1px solid #ddd;

}
.content .feature_card .feat_container .feat_btn:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.content .feature_card .feat_container .feat_btn .icon{
    width: auto;
    height: 50%;
    /* margin-left: 30px; */
}
.content .feature_card .feat_container .feat_btn .arrow{
    width: auto;
    height: 30%;
    /* margin-left: 30px; */
}
.content .feature_card .feat_container .feat_btn div{
    width: fit-content;
    height: fit-content;
    /* margin-left: 30px; */
    line-height: 20px;
    font-family: Poppins;
}
.content .feature_card .feat_container .feat_btn div .name{
    font-size: 20px;
    font-weight: 500;
    color: #505050;
}
.content .feature_card .feat_container .feat_btn div .desc{
    font-size: 15px;
    font-weight: 500;
    color: #949494;
}
.content .other_card{
    width: 100%;
    height: fit-content;
    margin-top: 70px;
    display: flex;
    justify-content:space-between;
}
.content .other_card h1{
    font-family: Poppins_Bold;
    font-size: 20px;
    color: #505050;
}
.content .other_card .news_main img{
    width: 500px;
    border-radius: 10px;
}
.content .other_card .news_main img:hover{
    cursor: pointer;
}
.content .other_card .recos_main img{
    margin-top: 22px;
    width: 500px;
    border-radius: 10px;
    height: 229px;
}
.content .other_card .recos_main img:hover{
    cursor:pointer;
}